<div id="map" style="height: 500px;"></div>

<script>
  // Map 초기화
  var map = L.map('map').setView([{{ .Site.Params.map.coordinates.latitude }}, {{ .Site.Params.map.coordinates.longitude }}], {{ .Site.Params.map.zoom }});

  // OpenStreetMap 타일 추가
  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(map);

  // 마커 추가
  L.marker([{{ .Site.Params.map.coordinates.latitude }}, {{ .Site.Params.map.coordinates.longitude }}]).addTo(map)
    .bindPopup('This is your selected location.')
    .openPopup();
</script>

<!-- Leaflet CSS 및 JavaScript 추가 -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
