<div id="map" style="width: 100%; height: 400px;"></div>

<script>
  var map = L.map('map').setView([{{ .Site.Params.map.coordinates.latitude }}, {{ .Site.Params.map.coordinates.longitude }}], {{ .Site.Params.map.zoom }});

  L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(map);

  L.marker([{{ .Site.Params.map.coordinates.latitude }}, {{ .Site.Params.map.coordinates.longitude }}]).addTo(map)
    .bindPopup('전북대학교 위치')
    .openPopup();
</script>
